<!-- ngIf Directive -->
<!-- <div *ngIf="courses.length > 0; then courseList else noCourses">
</div>
<ng-template #courseList>
        <h2>List of Courses</h2>
</ng-template>
<ng-template #noCourses>
        <h2>No Courses found!!!</h2>
</ng-template> -->

<!-- In older version of Angular, 
    disadv:Redundant Code of using multiple ng-If -->
<!-- <div *ngIf="courses.length == 0">
    <h2>No Courses found!!!</h2>
</div> -->

<!-- Hidden Property -->
<!-- <div [hidden]="courses.length == 0">
        <h2>List of Courses</h2>
</div>
<div [hidden]="courses.length != 0">
        <h2>No Courses found!!!</h2>
</div> -->

<!-- ngSwitch Directive -->
<!-- <ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">Map View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Something Else</div>
</div> -->

<!-- ngFor Directive and Change Detection-->
<!-- <button class="btn btn-primary" (click)="onAdd()">Add</button>
<ul>
        <li *ngFor="let course of courses; index as i; even as isEven">
                {{i}} - {{course.name}} <span *ngIf="isEven">EVEN</span>
                <button class="btn btn-primary" (click)="onRemove(course)">Remove</button>
                <button class="btn btn-primary" (click)="onUpdate(course)">Update</button>
        </li>
</ul> -->

<!-- ngFor with trackBy -->
<button class="btn btn-primary" (click)="loadCourses()">LoadCourses</button>
<ul>
        <li *ngFor="let course of courses1; trackBy: trackCourse">
                {{ course.name }}
        </li>
</ul>